<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>

    <a href="http://localhost:8080/posts">Go Back</a>
    <br>
    <br>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username" required>
        <br>
        <br>
        <textarea name="content" placeholder="write your post"></textarea required>
        <br>
        <br>
        <input type="password" placeholder="Enter password" name="password" required>
        <button>submit form</button>
    </form>
</body>
</html>